DATABASE_URL="file:./dev.db"
SCRAPER_BASE_URL="https://www.elcorteingles.es"
SCRAPER_CATEGORY_PATH="/juguetes/ofertas"
SCRAPER_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
